.container {

  width: 80%;
  padding-top: 50px;
  margin: auto;

  ul {
    width: max-content;
  }

  .city {
    position: relative;

    .name {
      font-size: 28px;
      line-height: 36px;
      &:hover {
        cursor: pointer;
        border-bottom: 1px dashed;
      }
    }
  }
}
